.body {
  background-image: url("../../public/assets/images/Bg image.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  max-height: 100vh;
  margin-top: -12vh;
  width: 100%;
}

.container {
  min-height: 100vh;
  display: flex;
}

.center {
  background: rgba(136, 136, 136, 0.2); /*Fondo semi-transparente*/
  backdrop-filter: blur(5px); /* Efecto de desenfoque */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Borde transparente */
  border-radius: 10px; /* Bordes redondeados */
}
.title {
  font-size: 1.5rem;
  color: #fff; /* Texto blanco */
}
.titleP {
  font-size: 1rem;
  color: #f0f0f0; /* Texto ligeramente gris */
}
